
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('bundles/app/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ asset('bundles/app/css/style.css') }}" rel="stylesheet">
</head>

<body>

{% include '@App/navbar.html.twig' %}

<main role="main" class="container">
    {% block body %}{% endblock %}

</main><!-- /.container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ asset('bundles/app/js/jquery-3.3.1.min.js') }}"></script>
<script src="{{ asset('bundles/app/js/tooltip.js') }}"></script>
<script src="{{ asset('bundles/app/js/popover.js') }}"></script>
<script src="{{ asset('bundles/app/js/bootstrap.min.js') }}"></script>
</body>
</html>
